.button {
    border: none;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: lightgreen;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.svg-circleplus {
    stroke: white;
}