#box {
    display: block;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 5px solid slategray;
    touch-action: none;
    position: fixed;
}

.dot {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: slategray;
    touch-action: none;
}

.resizer {
    bottom: -10px;
    right: -10px;
    cursor: nwse-resize;
}

.rotater {
    bottom: -50px;
    right: -50px;
}

.centerPoint {
    left: 40px;
    top: 40px;
}