#box {
    display: block;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 5px dotted slategray;
    touch-action: none;
    position: fixed;
}

.dot {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: slategray;
    touch-action: none;
}

.resizer {
    bottom: -40px;
    right: -40px;
    cursor: nwse-resize;
}

.rotater {
    left: calc(50% - 10px);
    top: -60px;
}

.centerPoint {
    left: 40px;
    top: 40px;
}